{{!< layout}} <div class="aui-page-panel">
  <section class="aui-page-panel-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 section-button">
          <button class="aui-button float-start" onclick="plusSlides(-1)" id="button-spin-1">
            <span>
              << </span>
          </button>
          <button class="aui-button float-end" onclick="plusSlides(1)" id="button-spin-1"><span>>></span></button>
        </div>
      </div>
      <br>
        <p>Test case number <label class="number_index">1</label> out of {{total}}</p>
        {{#cases}}
        <div class="mySlides">
          <div class="row">

            <div class="col-12">
              <h4>Test Case Detail:</h4>
              <div class="row">
                <div class="col-2">
                  <strong>Test Id:</strong>
                </div>
                <div class="col-2">
                  <label>{{caseId}}</label>
                </div>
                <div class="col-2">
                  <strong>Title:</strong>
                </div>
                <div class="col-6">
                  <label>{{title}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Description:</strong>
                </div>
                <div class="col-10">
                  <p>{{description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Section:</strong>
                </div>
                <div class="col-4">
                  <p>{{section}}</p>
                </div>
                <div class="col-2">
                  <strong>Suite:</strong>
                </div>
                <div class="col-4">
                  <p>{{suite}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Test Plan:</strong>
                </div>
                <div class="col-4">
                  <p>{{testPlan}}</p>
                </div>
                <div class="col-2">
                  <strong>Test Run:</strong>
                </div>
                <div class="col-4">
                  {{testRun}}
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-12">
              <h4>Test Case Status:</h4>
              <div class="row">
                <div class="col-2">
                  <strong>Status</strong>
                </div>
                <div class="col-2">
                  <label>{{status}}</label>
                </div>
                <div class="col-2">
                  <strong>Assgined To:</strong>
                </div>
                <div class="col-2">
                  <label>{{assignedTo}}</label>
                </div>
                <div class="col-2">
                  <strong>Tested By</strong>
                </div>
                <div class="col-2">
                  <label>{{testeBy}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Comments</strong>
                </div>
                <div class="col-10">
                  <p>{{comments}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/cases}}
      </div>
    </div>
  </section>
  </div>